<template>
    <div class="px-8 py-6 mb-3 flex items-center justify-end gap-6">
        <template v-if="auth">

            <NavLink :href="`/`" :active="$page.url === '/'">
                Welkom
            </NavLink>

            <NavLink :href="`/events`" :active="is('/events')">
                Toernooien
            </NavLink>

            <NavLink v-if="auth.can.registration_create" :href="`/registrations`" :active="is('/registrations')">
                Inschrijvingen
            </NavLink>

            <NavLink v-if="auth.user.admin" :href="`/admin/events`" :active="is('/admin')">
                Beheer
            </NavLink>

            <span class="text-gray-400 select-none">|</span>

            <a class="flex flex-row gap-4 items-center"
               :href="auth.user.profile_url"
               target="_blank"
            >
                <span class="hover:underline">{{ auth.user.name }}</span>
                <img v-if="auth.user.avatar_url" alt="Avatar" class="inline w-8 h-8 rounded-full"
                     :src="auth.user.avatar_url"/>
            </a>
        </template>
        <template v-else>
            <NavLink :href="`/`" :active="$page.url === '/'">
                Welkom
            </NavLink>
            <a class="px-1 py-1 hover:underline" :href="`/sso/redirect`">Log in met GitLab</a>
        </template>
    </div>

    <slot/>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";
import NavLink from "@/Shared/NavLink";

export default {
    components: {
        NavLink,
        Link
    },
    props: {
        auth: Object,
    },
    methods: {
        is(path) {
            return this.$page.url.startsWith(path)
        }
    }
}
</script>
