<template>
    <Head>
        <title>Events toevoegen</title>
    </Head>

    <div class="max-w-lg mx-auto">
        <PageTitle v-if="event.slug">Toernooi Wijzigen</PageTitle>
        <PageTitle v-else>Toernooi Toevoegen</PageTitle>
        <PageSubtitle>
            <Link :href="`/admin/events`" class="hover:underline">
                Terug naar Overzicht
            </Link>
        </PageSubtitle>
        <div class="flex gap-6">
        </div>

        <article class="px-8 py-6 rounded bg-cyan-300/30 drop-shadow">
            <form @submit.prevent="submit">
                <TextInput label="Naam" class="pb-6"
                           v-model="form.name"
                           :error="form.errors.name"
                />

                <TextareaInput
                    label="Beschrijving" class="pb-6"
                    v-model="form.description"
                    :error="form.errors.description"
                    rows="4"
                />

                <div class="flex flex-row gap-8 pb-6">
                    <TextInput label="Start inschrijvingen" class="w-1/2" type="date"
                               v-model="form.registration_start"
                               :error="form.errors.registration_start"
                    />
                    <TextInput label="Deadline inschrijvingen" class="w-1/2" type="date"
                               v-model="form.registration_end"
                               :min="form.registration_start"
                               :error="form.errors.registration_end"
                    />
                </div>

                <div class="flex flex-row gap-8 pb-6">
                    <TextInput label="Start toernooi" class="w-1/2" type="date"
                               v-model="form.start"
                               :error="form.errors.start"
                    />
                    <div class="w-1/2"/>
                </div>
                <div class="flex items-center gap-6">
                    <LoadingButton :loading="form.processing" class="btn-primary" type="submit">
                        Opslaan
                    </LoadingButton>

                    <LoadingButton v-if="event.slug" class="ml-auto btn-primary bg-red-500 hover:bg-red-400"
                                   @click.prevent="destroy">
                        Delete
                    </LoadingButton>
                </div>
            </form>
        </article>
    </div>
</template>

<script>
import App from "@/Layout/App";
import {Head, Link, useForm} from "@inertiajs/inertia-vue3";
import {defineComponent} from "vue";
import TextInput from "@/Shared/TextInput";
import LoadingButton from "@/Shared/LoadingButton";
import {DateTime} from "luxon";
import PageTitle from "@/Shared/PageTitle";
import PageSubtitle from "@/Shared/PageSubtitle";
import TextareaInput from "@/Shared/TextareaInput";

export default defineComponent({
    layout: App,
    components: {
        TextareaInput,
        PageSubtitle,
        PageTitle,
        Head,
        Link,
        LoadingButton,
        TextInput,
    },
    props: {
        event: {
            type: Object,
            default: () => {
                const now = DateTime.now()

                return ({
                    name: '',
                    slug: null,
                    description: '',
                    registration_start: now.toISODate(),
                    registration_end: now.plus({weeks: 1}).toISODate(),
                    start: now.plus({weeks: 2}).toISODate(),
                })
            }
        }
    },
    data() {
        const key = this.event.slug ? `EditForm:${this.event.slug}` : 'CreateForm';
        return {
            form: useForm(key, {
                name: this.event.name,
                description: this.event.description,
                registration_start: this.event.registration_start,
                registration_end: this.event.registration_end,
                start: this.event.start,
            }),
        }
    },
    methods: {
        submit() {
            if (this.event.slug) {
                this.form.put(`/admin/events/${this.event.slug}`)
            } else {
                this.form.post(`/admin/events`)
            }
        },

        destroy() {
            let message = `Weet je zeker dat "${this.event.name}" verwijdert moet worden?`;

            if (confirm(message)) {
                this.$inertia.delete(`/admin/events/${this.event.slug}`)
            }
        },
    },
})
</script>
