<template>
    <Head>
        <title>Events beheren</title>
    </Head>

    <div class="container mx-auto">
        <PageTitle>Toernooi Beheer</PageTitle>
        <PageSubtitle>Plan en beheer toekomstige toernooien</PageSubtitle>

        <div class="rounded bg-cyan-300/30 drop-shadow px-8 py-6 overflow-x-auto">
            <table class="w-full">
                <thead>
                <tr class="border-b border-yellow-500">
                    <th class="px-6 py-3 text-left">
                        Naam
                    </th>
                    <th class="px-6 py-3 text-left">
                        Beschrijving
                    </th>
                    <th class="px-6 py-3 text-left">
                        Inschrijfperiode
                    </th>
                    <th class="px-6 py-3 text-left">
                        Inschrijvingen
                    </th>
                    <th class="px-6 py-3 text-left">
                        Startdatum
                    </th>
                    <th class="px-6 py-3 text-right">
                        <Link :href="`/admin/events/create`" class="text-yellow-500 hover:underline">
                            Toevoegen
                        </Link>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="event in events" class="border-b border-gray-200">
                    <td class="px-6 py-3 align-top w-0 whitespace-nowrap">
                        {{ event.name }}
                    </td>
                    <td class="px-6 py-3 align-top" v-html="event.description"></td>
                    <td class="px-6 py-3 align-top whitespace-nowrap">
                        {{ event.registration_start }} - {{ event.registration_end }}
                    </td>
                    <td class="px-6 py-3 align-top">
                        {{ event.registration_count }}
                    </td>
                    <td class="px-6 py-3 align-top whitespace-nowrap">
                        {{ event.start }}
                    </td>
                    <td class="px-6 py-3 align-top text-right">
                        <Link :href="`/admin/events/${event.slug}/edit`"
                              class="text-yellow-500 hover:underline">
                            Bewerken
                        </Link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import App from "@/Layout/App";
import {Head, Link} from "@inertiajs/inertia-vue3";
import {defineComponent} from "vue";
import PageTitle from "@/Shared/PageTitle";
import PageSubtitle from "@/Shared/PageSubtitle";

export default defineComponent({
    layout: App,
    components: {
        PageSubtitle,
        PageTitle,
        Head,
        Link,
    },
    props: {
        events: Array,
    },
})
</script>
