<template>
    <Head>
        <title>Inschrijvingen</title>
    </Head>

    <div class="max-w-lg mx-auto">
        <PageTitle>Inschrijvingen</PageTitle>
        <PageSubtitle>Overzicht van toernooien waar jij voor ingeschreven bent</PageSubtitle>

        <main class="flex flex-col gap-6">
            <article v-for="event of events" class="px-8 py-6 rounded bg-cyan-300/30 drop-shadow border-l border-l-4"
                     :class="{
                'border-l-yellow-500': event.is_registered,
                'border-l-cyan-300/30': !event.is_registered,
            }">
                <header class="mb-3">
                    <Link :href="`/events/${event.slug}`">
                        <CardTitle class="hover:underline">{{ event.name }}</CardTitle>
                    </Link>
                </header>

                <CardLabel>Startdatum</CardLabel>
                <p class="text-gray-200 mb-3 text-slate-100 drop-shadow">{{ date(event.start) }}</p>

                <CardLabel>Inschrijfperiode</CardLabel>
                <div class="flex justify-between gap-6 text-slate-100">
                    <span class="drop-shadow">{{ date(event.registration_start) }}</span>
                    <span class="drop-shadow"> - </span>
                    <span class="drop-shadow">{{ date(event.registration_end) }}</span>
                </div>
            </article>
        </main>
    </div>
</template>

<script>
import App from "@/Layout/App";
import {Head, Link} from "@inertiajs/inertia-vue3";
import {defineComponent} from "vue";
import PageTitle from "@/Shared/PageTitle";
import PageSubtitle from "@/Shared/PageSubtitle";
import CardLabel from "@/Shared/CardLabel";
import CardTitle from "@/Shared/CardTitle";
import {format} from "@/date";

export default defineComponent({
    layout: App,
    components: {
        CardTitle,
        CardLabel,
        PageSubtitle,
        PageTitle,
        Head,
        Link,
    },
    props: {
        events: Array,
    },
    methods: {
        date(value) {
            return format(value)
        }
    }
})
</script>
