<template>
    <Head>
        <title>{{ event.name }}</title>
    </Head>

    <div class="max-w-lg mx-auto">
        <PageTitle>Toernooi</PageTitle>
        <PageSubtitle>
            <Link :href="`/events`" class="hover:underline">
                Terug naar Overzicht
            </Link>
        </PageSubtitle>

        <FlashMessages/>

        <article class="px-8 py-6 rounded bg-cyan-300/30 drop-shadow border-l border-l-4" :class="{
            'border-l-yellow-500': event.is_registered,
            'border-l-cyan-300/30': !event.is_registered,
        }">
            <CardTitle class="mb-3">{{ event.name }}</CardTitle>

            <CardLabel>Beschrijving</CardLabel>
            <p class="text-gray-200 mb-3 text-slate-100 drop-shadow" v-html="event.description"/>

            <CardLabel>Inschrijvingen</CardLabel>
            <p class="text-gray-200 mb-3 text-slate-100 drop-shadow">
                {{ event.registration.count }}
            </p>

            <CardLabel>Startdatum</CardLabel>
            <p class="text-gray-200 mb-3 text-slate-100 drop-shadow">{{ date(event.start) }}</p>

            <CardLabel>Inschrijfperiode</CardLabel>
            <div class="mb-3 flex justify-between gap-6 text-slate-100">
                <span class="drop-shadow">{{ date(event.registration.start) }}</span>
                <span class="drop-shadow">-</span>
                <span class="drop-shadow">{{ date(event.registration.end) }}</span>
            </div>

            <form v-if="event.is_registered" @submit.prevent="destroyRegistration">
                <LoadingButton type="submit" class="btn-primary">
                    Uitschrijven
                </LoadingButton>
            </form>
            <form v-else @submit.prevent="storeRegistration"
            >
                <LoadingButton v-if="event.registration.opened" type="submit" class="btn-primary">
                    Inschrijven
                </LoadingButton>

                <div v-else class="px-6 py-3 bg-red-500 text-sm rounded drop-shadow">
                    <template v-if="event.registration.before">
                        Inschrijvingen openen op {{ date(event.registration.start) }}.
                    </template>
                    <template v-else>
                        Inschrijvingen zijn gesloten.
                    </template>
                </div>
            </form>
        </article>
    </div>
</template>

<script>
import {Head, Link} from "@inertiajs/inertia-vue3";
import App from "@/Layout/App";
import {defineComponent} from "vue";
import CardLabel from "@/Shared/CardLabel";
import CardTitle from "@/Shared/CardTitle";
import LoadingButton from "@/Shared/LoadingButton";
import {Inertia} from "@inertiajs/inertia";
import PageSubtitle from "@/Shared/PageSubtitle";
import PageTitle from "@/Shared/PageTitle";
import FlashMessages from "@/Shared/FlashMessages";

export default defineComponent({
    layout: App,
    components: {
        FlashMessages,
        PageTitle,
        PageSubtitle,
        LoadingButton,
        CardTitle,
        CardLabel,
        Head,
        Link,
    },
    props: {
        event: Object,
    },
    methods: {
        storeRegistration() {
            Inertia.post(`/registrations`, {
                event: this.event.id,
            })
        },
        destroyRegistration() {
            Inertia.delete(`/registrations/${this.event.slug}`)
        },
        date(value) {
            return new Date(value).toLocaleDateString('nl-nl', {
                weekday: "long",
                year: "numeric",
                month: "short",
                day: "numeric"
            })
        },
    },
})
</script>
