<template>
    <Head>
        <title>Welkom</title>
    </Head>

    <div class="max-w-2xl mx-auto">
        <PageTitle>Toure</PageTitle>
        <PageSubtitle>Organiseer en neem deel aan eSports competities</PageSubtitle>

        <p class="mb-3">
            Toure is een webapplicatie waar in studenten, van de opleiding Software Developer, zich kunnen inschrijven
            voor
            game competities.
        </p>
        <p class="mb-3">
            Er worden geen persoonsgegevens opgeslagen.
        </p>
        <p class="mb-3">
            Gemaakt met Laravel, Inertia, Vue en TailwindCSS.<br>
            Broncode: <a class="text-yellow-500 hover:underline" :href="gitlab" v-text="gitlab" target="_blank"/>
        </p>
    </div>
</template>

<script>
import {defineComponent} from "vue";
import App from "@/Layout/App";
import {Head} from "@inertiajs/inertia-vue3";
import PageTitle from "@/Shared/PageTitle";
import PageSubtitle from "@/Shared/PageSubtitle";

export default defineComponent({
    layout: App,
    components: {
        PageSubtitle,
        PageTitle,
        Head,
    },
    data() {
        return {
            'gitlab': 'https://gitlab.com/rijnijssel/toure'
        }
    }
})
</script>
