<template>
    <div v-if="$page.props.flash.success" class="flex items-center justify-between mb-6 bg-green-500 rounded">
        <div class="flex items-center">
            <div class="px-4 py-4 text-white text-sm font-medium">{{ $page.props.flash.success }}</div>
        </div>
    </div>

    <div v-if="$page.props.flash.error" class="flex items-center justify-between mb-6 bg-red-500 rounded">
        <div class="flex items-center">
            <div class="px-4 py-4 text-white text-sm font-medium">{{ $page.props.flash.error }}</div>
        </div>
    </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
    data() {
        return {
            show: true,
        }
    },
    watch: {
        '$page.props.flash': {
            handler() {
                console.log(this.$page.props.flash)
                this.show = true
            },
            deep: true,
        }
    }
})
</script>
