<template>
    <button :disabled="loading" class="flex items-center">
        <span v-if="loading" class="btn-spinner mr-2"/>
        <slot/>
    </button>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
    props: {
        loading: Boolean,
    },
})
</script>
