<template>
    <Link
        class="px-1 py-1 hover:underline"
        :href="href"
        :class="{
            'border-b border-yellow-500': active,
        }"
    >
        <slot/>
    </Link>
</template>

<script>
import {defineComponent} from "vue";
import {Link} from "@inertiajs/inertia-vue3";

export default defineComponent({
    components: {
        Link,
    },
    props: {
        href: {
            type: String,
            default: () => null,
        },
        active: {
            type: Boolean,
            default: () => false,
        },
    }
})
</script>

<style scoped>

</style>
